/*
 * Aria Templates
 * Copyright Amadeus s.a.s.
 */
{CSSTemplate {
    $classpath : "aria.touch.widgets.PopupCSS"
}}

    {macro main()}

        div.touchLibPopup {
            background: none repeat scroll 0 0 #EFF9FF;
            border: 2px solid #999999;
            border-radius: 32px 32px 32px 32px;
        }


    {/macro}

{/CSSTemplate}
